---
layout: default
---
	
	  {{ content }}
	
	  <!--<h2>#</h2>
	  <span></span>-->

  <div>&nbsp;</div>


<ul class="post-list">
    

  
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        

    
  
    
    
      <li>

        
        <span class="post-meta">Dec 2, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/02/u1clas12.html" title="Procesos del Software - Modelos ">Procesos del Software - Modelos </a>
        </h2>

        <span><h2>Modelo Cascada</h2> <p><b>Las fases están identificadas por separado:</b><br> -El análisis y definición de requerimientos<br> -Diseño del sistema y software.<br> -Pruebas de implementación de unidades<br> -Integración y...

      </p></span></li>

    
    
    
      <li>

        
        <span class="post-meta">Dec 1, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/01/u1clas14.html" title="Ciclos de vida del Software">Ciclos de vida del Software</a>
        </h2>

        <span><p>Cuando un proceso implica la construcción de algún producto, suele referirse al proceso como un ciclo de vida<br> -El proceso de desarrollo de software suele denominarse ciclo de vida...

      </p></span></li>

    
    
    
      <li>

        
        <span class="post-meta">Dec 1, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/01/u1clas13.html" title="Unidad 2 / Proceso del Software">Unidad 2 / Proceso del Software</a>
        </h2>

        <span><p>Conjunto de actividades necesarias para transformar las ideas iniciales del usuario, que desea automatizar un determinado trabajo, en software.</p> <h2>Modelos de proceso de Software</h2> <p>1.-Modelo de cascada<br> 2.-Desarrollo incremental<br...< span="">

      </br...<></p></span></li>

    
    
    
      <li>

        
        <span class="post-meta">Dec 1, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/01/u1clas11.html" title="Sistemas de Informacion">Sistemas de Informacion</a>
        </h2>

        <span><p>Un sistema de información es un conjunto de elementos interrelacionados con el propósito de prestar atención a las demandas de información de una organización, para elevar el nivel de conocimientos...

      </p></span></li>

    
    
    
      <li>

        
        <span class="post-meta">Dec 1, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/01/u1clas9.html" title="Codigo de ética">Codigo de ética</a>
        </h2>

        <span><p><b>Principios del código</b><br>
-Público<br>
-Cliente y Empleador<br>
-Producto<br>
-Juicio<br>
-Gerencia<br>
-Profesión<br>
-Colegas<br>
-Interés Propio</p>

</span>

      </li>

    
    
    
      <li>

        
        <span class="post-meta">Dec 1, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/01/u1clas10.html" title="Objetivo a la IS">Objetivo a la IS</a>
        </h2>

        <span><h2>Objetivo de la IS</h2> <p>-Diseñar programas informáticos que se adecúen a las exigencias de la sociedad.<br>-Liderar y acoplar el desarrollo de programaciones complicadas.<br> -Actuar en todas las fases...

      </p></span></li>

    
    
    
      <li>

        
        <span class="post-meta">Dec 1, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/01/u1clas8.html" title="Problemas en el desarrollo de Software">Problemas en el desarrollo de Software</a>
        </h2>

        <span><p><b>¿Qué es un proyecto software?</b><br> Un proyecto software es un esfuerzo temporal que se lleva a cabo para crear un producto software, servicio TI o resultado único.<br> <b>¿Pero...

      </b></p></span></li><b>

    
    
    
      <li>

        
        <span class="post-meta">Dec 1, 2019</span>

        <h2>
          <a class="post-link" href="/2019/12/01/u1clas7.html" title="Procesos de Ingenieria de Informacion">Procesos de Ingenieria de Informacion</a>
        </h2>

        <span><h2>Factores de calidad del Software</h2> <p><b>Concepto de Calidad:</b> Conjunto de propiedades y de características de un producto o servicio, que le confieren aptitud para satisfacer una necesidad explícita o implícita...

      </p></span></li>

    

  </b></ul>



  <ul class="post-list">
    
{% if paginator.page == 1 %}
  {% for post in site.posts %}
      {% if post.stickie != true %}
        {% continue %}
      {% endif %}
    <li>

        {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span> <span style="font-size:15px;background:#F48FB1;color:#fff;padding:4px 15px;border-radius:6px;-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);">置顶</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>

      </li>
  {% endfor %}
{% endif %}
    
  {% for post in paginator.posts %}
    {% if post.stickie == true %}
      {% continue %}
    {% endif %}
    
      <li>

        {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>

      </li>

    {% endfor %}

  </ul>

</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a  class="cm-l" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img src="/theme/left.svg" style="height:28px"></a>
  {% else %}
    <span class="cm-l"><img src="/theme/leftdis.svg" style="height:28px"></span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="cm-r" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img src="/theme/right.svg" style="height:28px"></a>
  {% else %}
    <span class="cm-r"><img src="/theme/rightdis.svg" style="height:28px"></span>
  {% endif %}
</div>

<div class="cm-c">{{paginator.page}}/{{paginator.total_pages}}</div>

{% endif %}
